<div class="ourMenu">
    <h2 class="fontRaleway">OUR MENU</h2>
    <div>
        <div class="flexStart">
            <img src="./../../../assets/img/3_section_our_menu/Png/R1.png" alt="">
            <app-prices></app-prices>
        </div>
        <div class="flexEnd">
            <app-prices></app-prices>
            <img src="./../../../assets/img/3_section_our_menu/Png/R2.png" alt="">
        </div>
        <div class="flexStart">
            <img src="./../../../assets/img/3_section_our_menu/Png/R3.png" alt="">
            <app-prices></app-prices>
        </div>
    </div>
</div>