@import './../../../../styles.scss';

@mixin color($color) {
    color: $color;
}

nav {
    width: 100%;
    padding: 32px 160px 32px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >img {
        width: 64px;
        height: 64px;
    }
    >div {
        display: flex;
        gap: 30px;
        font-size: 24px;
        align-items: center;
        >a {
            &:hover {
                color: red;
            }
        }
    }
}

a {
    text-decoration: none;
    @include color(white);
}

.phone_btn {
    display: flex;
    background-color: $red;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 15px;
    >img {
        width: 24px;
        height: 24px;
    }
}